In [1]:
# To access python data science libraries and visualise data and render plots in the Jupyter Notebook
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')
pd3 = pd.read_excel(xls, sheet_name=3, header=1)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_8312\919488981.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  pd3 = pd.read_excel(xls, sheet_name=3, header=1)

In [6]:
df3 = pd.DataFrame(pd3)

In [8]:
df3.head(n=2)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [11]:
df3.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [16]:
drop_threshold = df3.shape[0]*0.5
df3 = df3.dropna(thresh=drop_threshold, how='all', axis='columns').copy()

In [17]:
df3.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [21]:
# check for duplicate data
column_names = df3.columns
for i in column_names:
    print((i, df3[i].is_unique))

('customer_id', True)
('first_name', False)
('last_name', False)
('gender', False)
('past_3_years_bike_related_purchases', False)
('DOB', False)
('job_title', False)
('job_industry_category', False)
('wealth_segment', False)
('deceased_indicator', False)
('default', False)
('owns_car', False)
('tenure', False)

In [22]:
# drop default col b/c it is corrupted
del df3['default']

In [24]:
# make sure the ID only contain legitimate digits
df3['customer_id'] = df3['customer_id'].astype('int64')

In [26]:
# check the entered data
df3['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [28]:
# replace all the misspelt or differently formatted data
df3['gender'].replace({'M' : 'Male', 'F' : 'Female', 'Femal' : 'Female'}, inplace=True)

In [30]:
# check the frequency of different job titles
df3['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [32]:
df3['job_title'] = df3['job_title'].fillna(method='bfill')

In [33]:
# check the frequency of job industries
df3['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [35]:
# fill the missing datapoint using the forward filling method
df3['job_industry_category']= df3['job_industry_category'].fillna(method='ffill')

In [36]:
df3['job_industry_category'].value_counts()

Manufacturing         959
Financial Services    926
Health                720
Retail                433
Property              320
IT                    273
Entertainment         158
Argiculture           129
Telecommunications     82
Name: job_industry_category, dtype: int64

In [37]:
# make sure all dates are in the correct format
df3['DOB'] = df3['DOB'].dt.date

In [38]:
# convert to boolean data type
f = {'N':False, 'Y':True}
df3['deceased_indicator'] = df3['deceased_indicator'].map(f)

In [40]:
df3['deceased_indicator'].value_counts()

False    3998
True        2
Name: deceased_indicator, dtype: int64

In [42]:
# convert to boolean data type
g = {'No': False, 'Yes': True}
df3['owns_car'] = df3['owns_car'].map(g)

In [46]:
# calculate the median value for tenure
np.nanmedian(df3['tenure'])

11.0

In [47]:
# filling in the missing value for tenure
df3['tenure'].fillna(value = 11.0, inplace = True)

In [48]:
df3.columns = map(str.lower, df3.columns)
df3.columns = map(str.strip, df3.columns)

In [51]:
#check the dataset after cleaning
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   dob                                  3913 non-null   object
 6   job_title                            4000 non-null   object
 7   job_industry_category                4000 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   bool
 10  owns_car                             4000 non-null   bool
 11  tenure                               4000 non-null   float64
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 320.4+ KB

In [52]:
df3['last_name'] = df3['last_name'].fillna(method = 'ffill')

In [56]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            4000 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   dob                                  4000 non-null   object
 6   job_title                            4000 non-null   object
 7   job_industry_category                4000 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   bool
 10  owns_car                             4000 non-null   bool
 11  tenure                               4000 non-null   float64
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 320.4+ KB

In [55]:
# fill the missing date of birth with a random choice of date from the existing datapoints
df3['dob'].fillna(lambda x: np.random.choice(df3['dob']), inplace=True)